.Start {
    width: 100%;
    min-height: 100vh;
    padding: 30px;  
    background: linear-gradient(135deg, #0d1f0d 0%, #0a150a 100%);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heroLeft{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.heroRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}