*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --main-bg-color: repeating-linear-gradient(135deg,
        rgba(30, 30, 30, 0.95) 0px,
        rgba(30, 30, 30, 0.95) 15px,
        rgba(45, 45, 45, 0.6) 15px,
        rgba(45, 45, 45, 0.6) 30px);
  color-scheme: dark;
}
body {
  background: var(--main-bg-color);
}

/* @media (prefers-color-scheme: light) {

} */
